extends ../layout.pug

block content

  h2 Place Flags

  ul(class="admin-list")
    each flag in flags
      li(id="review-" + flag.flagId class="admin-flag")
        ul
          li
            h4 Flag:
          li Flag Id: #{flag.flagId}
          li Status: #{flag.dismissed}
          li Memory Id:&nbsp;
            strong(class="highlight") #{flag.flagMemoryId}
          li Flag Place Id: #{flag.placeId}
          li Flag Timestamp: #{flag.flagCreatedAt}
          li Flag Body:
            p(class="flag-reason")= flag.flagBody
          li 
            h4 Place:
          li Lat #{flag.lat}
          li Long: #{flag.long}
          li
            strong Name: #{flag.name}
          li
            strong Address: #{flag.address}
          li City: #{flag.city}
          li State: #{flag.state}
          li Zip: #{flag.zip}
          li Open Year: #{flag.openYear}
          li Close Date: #{flag.closeDate}
          li Council District: #{flag.cityCouncilDistrict}
          li Place Timestamp: #{flag.placeCreatedAt}
          li
            button(onClick=`dismissFlag('${flag.flagId}')`) ✅ Dismiss
            span(class="spacer") &nbsp;
            button(onClick=`deletePlace('${flag.placeId}', '${flag.flagId}')`) ⛔️ Delete PLACE