extends ../layout.pug

block content

  if place
    h2 Place: #{place}
  else
    h2 Photos Approval Queue

  ul(class="admin-list")
    each photo in photos
      li(id="review-" + photo.photoId class=`admin-flag ${photo.highlighted ? 'highlighted' : 'not-highlighted'}`)
        ul
          li
            h4 Place:
          li #{photo.placeName}
          li #{photo.placeAddress}
          li 
            h4 Photo:
          li
            a(href=photo.url target="_blank")
              img(src=photo.url class="admin-photo")
          li
            button(onClick=`approvePhoto('${photo.photoId}')`) ✅ Approve
            if photo.highlighted
              button(onClick=`unhighlightPhoto('${photo.photoId}')`) ⤵️ Unhighlight
            else
              button(onClick=`highlightPhoto('${photo.photoId}')`) 🖼 Highlight
            span(class="spacer") &nbsp;
            button(onClick=`deletePhoto('${photo.photoId}')`) ⛔️ Delete